

<!-- ============================
FAQs
================================= -->
<section class="container faq-section-wrapper">
  {%- if page_name == 'faq' -%}
    <div class="topic-links">
      {% for block in section.blocks %}
        {% case block.type %}
        {% when 'faq_section_heading' %}
          {% if block.settings.title != blank %}
            <a href="#{{ block.settings.title | handleize }}" class="js-scroll-to small-caps topic-link">
              {{ block.settings.title }}
            </a>
          {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  {%- endif -%}
  <div class="accordion list-animation-wrapper" data-anim="scroll">
    {%- if page_name == 'facts' -%}
      {%- include 'block-faq-section-header', format: 'multi' -%}
    {%- endif -%}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'faq_section_heading' %}
          {%- include 'block-faq-section-header' -%}

        {% when 'faq_item' %}

          <div class="accordion-panel cols-2 animate-item">
            <h2 class="accordion-toggle" tabindex="0"><span class="text">{{ block.settings.title }}</span> <span class="icon-plus-minus"></span></h2>
            <div class="accordion-text">
              <div class="inner" tabindex="-1">
                {{ block.settings.desc }}
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>
