
<div class="accordion-panel animate-item container-left-lg {{ class_name }}">
  <h3 class="accordion-toggle"><span class="text">{{ accordion_heading }}</span> <span class="icon"></span></h3>
  <div class="accordion-text">
    <div class="inner">
      {{ accordion_text }}
    </div>
  </div>
</div>
