
<div class="accordion-panel animate-item container-left-lg {{ class_name }}">
  <h3 class="accordion-toggle" tabindex="0"><span class="text">{{ accordion_heading }}</span> <span class="icon-plus-minus"></span></h3>
  <div class="accordion-text" >
    <div class="inner" tabindex="-1">
      {{ accordion_text }}
    </div>
  </div>
</div>
