<!-- ============================
HEADER
================================= -->
<header>
  <div class="container">
    <h1 class="main-heading">{{ section.settings.title }}</h1>
  </div>
</header>


<!-- ============================
FAQs
================================= -->
<section class="container">
  <div class="accordion list-animation-wrapper">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'faq_item' %}
          <div class="accordion-panel animate-item">
            <h2 class="accordion-toggle"><span class="text">{{ block.settings.title }}</span> <span class="icon"></span></h3>
            <div class="accordion-text">
              <div class="inner">
                {{ block.settings.desc }}
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>
