<div class="logo-wrapper" itemscope itemtype="http://schema.org/Organization">
  <a href="/" itemprop="url" >
    <img src="{{ 'logo.svg' | asset_url }}"
    alt="{{ shop.name }}"
    itemprop="logo">
  </a>
</div>
