/* --------------------------------------------------------------------------
Buttons
-----------------------------------------------------------------------------*/
.btn,
button {
  @extend %smallCaps;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  outline: none;
  display: inline-block;
  background-color: transparent;
  padding: 2.1rem 3.3rem;
  line-height: 1;
  &:hover {}
}

.btn--grey {
  background: $grayButton;
  color: $black;
  border: 0.2rem solid transparent;
  &:hover {
    background: darken($grayButton, 8%);
    color: $black;
    // transform: translateY(.2rem);
  }
}

.btn--dark-grey {
  background: $darkGrey;
  color: white;

  &:hover {
    background: $darkGrey;
    color: white;
  }
}

.btn--black {
  background: $blackButton;
  color: white;

  &:hover {
    background: $blackButton;
    color: white;
  }
}

.text-only {
  font-family: inherit;
  color: inherit;
  padding: 0;
  border: 0;
  text-transform: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
  &.small-caps {
    @extend %smallCaps;
  }
}
