/* --------------------------------------------------------------------------
Hosted Fonts
-----------------------------------------------------------------------------*/

@font-face {
  font-family: "Apercu Regular";
  src: url(" {{ 'apercuMonoRegularPro.eot' | asset_url }} ");
  src: url(" {{ 'apercuMonoRegularPro.eot?#iefix' | asset_url }} ") format("embedded-opentype"), url(" {{ 'apercuMonoRegularPro.woff2' | asset_url }} ") format("woff2"), url(" {{ 'apercuMonoRegularPro.woff' | asset_url }} ") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manege Light";
  src: url(" {{ 'ManegeLight.eot' | asset_url }} ");
  src: url(" {{ 'ManegeLight.eot?#iefix' | asset_url }} ") format("embedded-opentype"), url(" {{ 'ManegeLight.woff2' | asset_url }} ") format("woff2"), url(" {{ 'ManegeLight.woff' | asset_url }} ") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wremena Light";
  src: url(" {{ 'WremenaLight.eot' | asset_url }} ");
  src: url(" {{ 'WremenaLight.eot?#iefix' | asset_url }} ") format("embedded-opentype"), url(" {{ 'WremenaLight.woff2' | asset_url }} ") format("woff2"), url(" {{ 'WremenaLight.woff' | asset_url }} ") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------------------------------------------------
Fonts
-----------------------------------------------------------------------------*/
$apercu: "Apercu Regular", serif;
$manege: "Manege Light", serif;
$wremena: "Wremena Light", serif;

$bodyTextFont: $wremena;
$headingFont: $manege;
$monoFont: $apercu;