/* --------------------------------------------------------------------------
  LOGO ICON
-----------------------------------------------------------------------------*/
footer .logo-icon {
	transition: all 0.3s $ease;
	transform: none;
	display: inline-block;
	&:hover {
		@include tablet-up {
			transform: translateY(.2rem);
		}
	}
	@include mobile-only {
		margin-bottom: 2.8rem;
	}
	img {
		width: 4.6rem;
	}
}
/* --------------------------------------------------------------------------
  FOOTER STYlES
-----------------------------------------------------------------------------*/
.site-footer {
	@extend %smallCaps;
	background: $black;
	color: #FEFEFE;
	padding-top: 3.2rem;
	padding-bottom: 3rem;
	@include tablet-up {
		padding-right: 7rem;
	}
}

/* MOBILE COLUMNS ================== */
.site-footer {
	.mobile-columns {
		@include mobile-only {
			grid-template-columns: 3fr 1fr;
			grid-column-gap: 0;
			display: grid;
		}
	}
}

/* --------------------------------------------------------------------------
Footer Navigation Styles
-----------------------------------------------------------------------------*/
.site-footer nav {
	ul {
		@extend .cols-2;
		@include tablet-up {
			display: grid;
			grid-column-gap: 6.2rem;
		}
		li {
			margin-bottom: 1.4rem;
			@include mobile-only {
				margin-bottom: 1.2rem;
				&:last-of-type {
					margin-bottom: 3.2rem;
				}
			}
		}
	}
	a {
		color: #FEFEFE;
		transition: all 0.5s $ease;
		display: inline-block;
	}
	a:hover {
		color: #FEFEFE;
		text-decoration: underline;
		transform: translateY(.2rem);
	}
}

/* --------------------------------------------------------------------------
  RIGHT COLUMN
-----------------------------------------------------------------------------*/
.right-col {
	@include tablet-up {
		text-align: right;
	}
}

/* --------------------------------------------------------------------------
  SOCIAL ICONS
-----------------------------------------------------------------------------*/
footer .social-icon-list {
	@include mobile-only {
		padding-top: 6.9rem;
	}
	circle,
	path {
		fill: white;
	}
	a {
		padding-top: 0;
		padding-bottom: 1.5rem;
		margin-left: 0;
		&:last-of-type {
			padding-right: 0;
		}
		&:not(:first-of-type) {
			@include mobile-only {
				margin-left: 0;
			}
		}
	}
}

/* --------------------------------------------------------------------------
Copyright & Site Credit
-----------------------------------------------------------------------------*/
.end-credits {
	text-transform: uppercase;
	display: block;
	opacity: 0.7;
	color: white;
	letter-spacing: 0.192rem;
	font-size: 0.9rem;
	line-height: (18 / 9);
	@include tablet-up {
		text-align: right;
		display: flex;
		justify-content: flex-end;
	}
	@include mobile-only {
		width: 80%;
	}
	a {
		color: white;
		&:hover {
			text-decoration: underline;
		}
	}
	span:not(:first-of-type) {
		margin-left: 4.6rem;
	}
}
