/* --------------------------------------------------------------------------
Footer Navigation Styles
-----------------------------------------------------------------------------*/
footer nav {
	a,
	a:visited {
		color: #4c4b4b;
		margin-left: 18px;
	}
	a:hover {
		color: darken(#4c4b4b, 20%);
	}
}

/* --------------------------------------------------------------------------
LK Site Credit
-----------------------------------------------------------------------------*/
.site-credit {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  text-align: right;
}
