/*-----------------------------------------------------------
Images
-------------------------------------------------------------*/
img {
  display: block;
  // max-width: 100%;
  width: 100%;
}

.bg-image-wrapper {
  position: relative;
  overflow: hidden;
  .text-content {
    position: relative;
    z-index: 1;
  }
  .bg-image {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
  }
}

.cropped-image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  overflow: hidden;
  object-fit: cover;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    object-fit: cover;
    width: auto;
    height: auto;
  }
}

// .cropped-image-wrapper {
//   position: relative;
//   width: 100%;
//   height: 0;
//   padding-bottom: 115%;
//   overflow: hidden;
//   img {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//
//   }
// }

.text-content {
  z-index: 2;
  position: relative;
}

/* --------------------------------------------------------------------------
  LAZY LOADING IMAGES
-----------------------------------------------------------------------------*/
.lazy-fade {
  opacity: 0;
  transition: all 0.6s ease-in-out;
  &.lazyloaded {
    opacity: 1;
  }
}

.lazy-scale {
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.6s ease-in-out;
  &.lazyloaded {
    opacity: 1;
    transform: scale(1);
  }
}

/*-----------------------------------------------------------
Responsive Videos
-------------------------------------------------------------*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.3%;
  height: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem;
  // Used for placeholder image
  .placeholder {
    z-index: 1;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .video-play-button {
    background: rgba(38, 57, 88, .85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }
  &.playing {
    .video-play-button {
      opacity: 0;
      pointer-events: none;
    }
  }
}
