/* --------------------------------------------------------------------------
Layout Helpers
-----------------------------------------------------------------------------*/
.hide {
	display: none;
}

/* --------------------------------------------------------------------------
Default Box sizing, Overflow Styles
-----------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

/* --------------------------------------------------------------------------
Vertical & Horizontal Alignment
-----------------------------------------------------------------------------*/
%flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

%flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

%split-aligner {
	justify-content: space-between;
}

/* Center vertically  */
%v-aligner {
	display: flex;
	flex-direction: row;
	align-items: center;
}

%stretch-aligner {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

/* Center vertically and horizontally */
%v-h-aligner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* --------------------------------------------------------------------------
Centered Layout
-----------------------------------------------------------------------------*/
$desktopSidePadding: 3.5rem;
$mobileSidePadding: 2.6rem;
$mobileTotalSidePadding: 5.2rem;

.container {
	padding-left: $desktopSidePadding;
	padding-right: $desktopSidePadding;
	@include mobile-only {
		padding-left: $mobileSidePadding;
		padding-right: $mobileSidePadding;
	}
}

.container-large {
	@include tablet-up {
		padding-left: $desktopSidePadding;
		padding-right: $desktopSidePadding;
	}
}

.container-mobile {
	@include mobile-only {
		padding-left: $mobileSidePadding;
		padding-right: $mobileSidePadding;
	}
}

.container-right-lg {
	@include tablet-up {
		padding-right: $desktopSidePadding;
	}
}

.container-left-lg {
	@include tablet-up {
		padding-left: $desktopSidePadding !important;
	}
}

.padded {
	padding-top: 4rem;
	padding-bottom: 6rem;
}

/* --------------------------------------------------------------------------
Sticky Footer
-----------------------------------------------------------------------------*/
.cssgrid {
	/* Add to the body element */
	.site {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	/* Add to the main element (or whichever element includes your site content and not the footer) */
	.site-content {
		flex: 1;
	}
}

/* --------------------------------------------------------------------------
Clearfix helpers (for floats)
-----------------------------------------------------------------------------*/
.clearfix:after,
.clearfix:before {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.clearer {
	content: "";
	display: table;
	clear: both;
}
