/* --------------------------------------------------------------------------
  PASSWORD PAGE
-----------------------------------------------------------------------------*/
.template-password {
  padding-top: 150px;
  text-align: center;

  .icon {
    width: 2.4rem;
  }
  .container-sm {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .opening-soon {
    font-size: 1.6rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  input {
    margin-bottom: 3rem;
    text-align: center;
    padding-bottom: 0.6rem;
    font-size: 1.4rem;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
  }
  :-ms-input-placeholder {
    /* IE 10+ */
  }
  :-moz-placeholder {
    /* Firefox 18- */
  }
}
