/* --------------------------------------------------------------------------
Search
-----------------------------------------------------------------------------*/
.search-form {
  display: inline-block;
  input {
    display: inline-block;
    width: 180px;
  }
}
