/* --------------------------------------------------------------------------
Font Sizes
-----------------------------------------------------------------------------*/
$baseSize: 10px;
$tabletBaseSize: 9px;
$mobileBaseSize: 8px;
$bodyDesktopFontSize: 2rem;
$bodyMobileFontSize: 2rem;

/* --------------------------------------------------------------------------
Font Styles
-----------------------------------------------------------------------------*/
$bodyTextLineHeight: (30 / 20);
$bodyTextLetterSpacing: 0;

/* --------------------------------------------------------------------------
Typography
-----------------------------------------------------------------------------*/
html {
  font-size: $baseSize;
  font-size: 0.6944444444vw;
}

body {
  background-color: $primaryBgColor;
  font-family: $bodyTextFont;
  color: $primaryTextColor;
  line-height: $bodyTextLineHeight;
  letter-spacing: $bodyTextLetterSpacing;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  font-size: $bodyDesktopFontSize;
  @include mobile-only {
    font-size: $bodyMobileFontSize;
  }
}

/* --------------------------------------------------------------------------
Anchors
-----------------------------------------------------------------------------*/
a {
  color: $primaryAnchorColor;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:active,
a:hover {
  color: darken($primaryAnchorColor, 10%);
}

/* --------------------------------------------------------------------------
Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}

.h1,
h1 {
  font-size: 4.5rem;
  line-height: (50 / 45);
  @include mobile-only {
    font-size: 3.5rem;
    line-height: (40 / 35);
  }
}

.h2,
h2 {
  font-size: 3rem;
  line-height: (40 / 30);
  @include mobile-only {
    font-size: 2.5rem;
    line-height: (35 / 25);
  }
}

.heading {
  margin-bottom: 2.4rem;
}

.subheading {
  margin-bottom: 2rem;
}

/* --------------------------------------------------------------------------
  SMALL CAPS
-----------------------------------------------------------------------------*/
%smallCaps,
.small-caps {
  text-transform: uppercase;
  font-family: $mono;
  font-size: 1.1rem;
  line-height: (18 / 11);
  letter-spacing: 0.234rem;
  font-weight: 400;
}

/* --------------------------------------------------------------------------
  TEXT STYLES
-----------------------------------------------------------------------------*/
.desc {
  ol,
  ul {
    padding-left: 5rem;
    list-style-position: inside;
    margin-top: 1rem;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  a {
    text-decoration: underline;
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: 700;
  }
  p + p {
    margin-top: 2rem;
  }
}

/* --------------------------------------------------------------------------
  PAW PRINT LIST
-----------------------------------------------------------------------------*/
.paw-list {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding-left: 7rem;
      position: relative;
      margin-bottom: 2.8rem;
      @include mobile-only {
        padding-left: 6rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .paw-print {
        display: block;
        position: absolute;
        top: 0.2rem;
        left: 0;
        width: 3.1rem;
      }
    }
    h2 {
      margin-bottom: 1rem;
    }
  }
}

/* --------------------------------------------------------------------------
Rules
-----------------------------------------------------------------------------*/
hr {
  border: 0;
  border-bottom: 0.5px solid $black;
}

/* --------------------------------------------------------------------------
Responsive Design
-----------------------------------------------------------------------------*/
/* Tablet ================== */
@include tablet-only {
  html {
    font-size: 0.85vw;
  }
}

/* Mobile ================== */
@include mobile-only {
  html {
    font-size: 1.8vw;
  }
}

@include mobile-sm-only {
  html {
    font-size: 2.666666666vw;
    // font-size: 10px;
  }
}

/* Large Mobile ================== */
@media only screen and (max-width: 768px) and (min-width: 580px) {
  html {
    // font-size: 1.8vw;
  }
}

/* MONITOR ================== */
@media only screen and (min-width: 1800px) {
  html {
    font-size: 13px;
  }
}
