/* --------------------------------------------------------------------------
  FACTS FAQs (FACTS SPECIFIC STYLES)
-----------------------------------------------------------------------------*/
.page-facts .canine-facts-faq,
.page-facts .feline-facts-faq {
  header {
    padding-bottom: 2.1rem;
    padding-top: 2.9rem;
    border-top: $border;

  }
}

.canine-facts-faq {
  margin-top: 10rem;
}
