/* --------------------------------------------------------------------------
  FACTS FAQs (FACTS SPECIFIC STYLES)
-----------------------------------------------------------------------------*/
.page-facts .canine-facts-faq,
.page-facts .feline-facts-faq {
  header {
    padding-bottom: 2.1rem;
    padding-top: 2.9rem;
    border-top: $border;

  }
}

.canine-facts-faq {
  margin-top: 10rem;
  @include mobile-only {
    margin-top: 3rem;
    padding-bottom: 0;
  }
}

.page-facts {
  .main-heading {
    cursor: pointer;
    position: relative;
    padding-right: 6rem;
  }
  .faq-section-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0;
  }
  .accordion {
    margin-bottom: 5.55rem;
  }
  .expanded-section {
    .faq-section-wrapper {
      max-height: 1000vh;
    }
  }
}
