/* --------------------------------------------------------------------------
  HOME HERO
-----------------------------------------------------------------------------*/
.template-index header {

  .bg-image {
    padding-bottom: 71.5%;
    @include mobile-only {
      padding-bottom: 114%;
    }
  }
}

/* --------------------------------------------------------------------------
  HOME HERO INFO
-----------------------------------------------------------------------------*/
.template-index .hero-intro-info {
  @include tablet-up {
    margin-top: -48rem;
    max-width: 110rem;
    background: white;
    padding: 3.8rem 3.8rem 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;

  }
  .cols-2 {
    grid-column-gap: 3.6rem;
    @include tablet-up {
      grid-row-gap: 3.6rem;
    }
  }
}

/* PRODUCT IMAGE LINKS ================== */
.template-index .product-image-link {
  position: relative;
  background: $midGreyBackground;
  @include mobile-only {
    margin-top: 2.8rem;
  }
  .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    padding: 3.5rem;
    @include mobile-only {
      padding: 2.5rem;
    }
  }
  .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all 0.6s ease-in-out;
    z-index: 2;
    opacity: 0.2;
  }
  h2 {
    position: relative;
    z-index: 4;
  }
  .bg-image {
    transition: all 0.6s ease-in-out;
    padding-bottom: 74.5%;
    @include mobile-only {
      padding-bottom: 74%;
    }
  }
  &:hover {
    .overlay {
      background: $midGreyBackground;
    }
    .bg-image {
      transform: scale(1.03);
    }
  }
}

/* INTRO INFO BLOCK ================== */
.template-index .intro-info-block {
  @extend %flex-container;
  @extend %flex-column;
  @extend %split-aligner;
  background: $midGreyBackground;
  z-index: 3;
  padding: 4rem;

  @include mobile-only {
    margin-top: 2.8rem;
    margin-left: -$mobileSidePadding;
    margin-right: -$mobileSidePadding;
    width: calc(100% + $mobileTotalSidePadding);
    padding: 3rem $mobileSidePadding;
  }
  .desc {
    p + p {
      @include tablet-up {
        margin-top: 3rem;
      }
    }
    p:last-of-type {
      @include tablet-up {
        margin-bottom: 1.8rem;
      }
    }
    @include mobile-only {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
}

/* --------------------------------------------------------------------------
  QUALITY SECTION
-----------------------------------------------------------------------------*/
.template-index .icon-blocks-section {
  background: $lightGreyBackground;
  margin-top: 6rem;
  @include mobile-only {
    margin-top: 0;
  }
  h3 {
    margin-bottom: 2rem;
  }
  h1 {
    max-width: 49.5rem;
    margin-bottom: 2.55rem;
  }
  h2 {
    @include mobile-only {
      margin-bottom: 2rem;
    }
  }
}

/*  ICON BLOCKS ================== */
.template-index .icon-block {
  border-top: $border;
  padding-top: 4rem;
  padding-bottom: 3.2rem;
  @include tablet-up {
    border-bottom: $border;
    border-right: $border;
    padding-left: 4.5rem;
    padding-right: 4.5rem;

  }
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
    @include tablet-up {
      border-right: none;
    }
    @include mobile-only {
      padding-bottom: 0;
    }
  }
  &.top-row {
    @include tablet-up {
      border-bottom: none;
    }
  }
}

.template-index .icon-block {

  .icon-wrapper {
    margin-bottom: 3rem;
    @include tablet-up {
      @extend %v-aligner;
      min-height: 7rem;

    }
  }
  &:first-of-type .icon {
    width: 6.5rem;
  }
  &:nth-of-type(2) .icon {
    width: 5.3rem;
  }
  &:nth-of-type(3) .icon {
    width: 7.7rem;
  }
  &:nth-of-type(4) .icon {
    width: 6.5rem;
  }

}

/* --------------------------------------------------------------------------
  STEPS SECTION
-----------------------------------------------------------------------------*/
.template-index .steps-section {
  background: $darkGreyBackground;
  h3 {
    margin-bottom: 2rem;
  }
  h2 {
    margin-bottom: 4.7rem;
  }
  .cols-3 {
    text-align: center;
    @include tablet-up {
      grid-column-gap: 14rem;
    }
  }
}

/* STEPS WRAPPER ================== */
.template-index .steps-wrapper {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin-bottom: 1.8rem;
  }
  img {
    border-radius: 50%;
    margin-bottom: 4.2rem;
  }
  .count {
    position: relative;
    border: $border;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin-bottom: 1.4rem;
  }
  .count-inner {
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    line-height: 1;
  }
  .desc {
    max-width: 23.2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .step-item:nth-of-type(1) .desc {
    max-width: 15.2rem;
  }
  .step-item:not(:first-of-type) {
    @include mobile-only {
      margin-top: 6.7rem;
    }
  }
}

/* --------------------------------------------------------------------------
  SAMPLE SECTION
-----------------------------------------------------------------------------*/
.template-index .sample-section {
  h3 {
    margin-bottom: 2rem;
  }
  h2 {
    margin-bottom: 2.4rem;
    max-width: 40rem;

  }
  .text-content {
    max-width: 50rem;

    @include tablet-up {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  img {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    @include mobile-only {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
}

/* --------------------------------------------------------------------------
  BENEFITS SECTION
-----------------------------------------------------------------------------*/
.benefit-section {
  h2 {
    max-width: 46.4rem;
    @include mobile-only {
      margin-bottom: 2.4rem;
    }
  }
  .desc {
    @include tablet-up {
      padding-right: 2rem;
      max-width: 64.8rem;
      margin-left: auto;
    }
  }
  .padded {
    @include mobile-only {
      padding-bottom: 2rem;
    }
  }
}

/* --------------------------------------------------------------------------
  MANIFESTO
-----------------------------------------------------------------------------*/
.template-index .manifesto-section {
  h3 {
    margin-bottom: 3rem;
  }
  h2 {
    margin-bottom: 5rem;
    @include tablet-up {
      max-width: 90%;
    }
    @include mobile-only {
      margin-bottom: 3.2rem;
    }
  }
}

.image-collage {
  position: relative;
  @include tablet-up {
    max-width: 54rem;
  }
  @include mobile-only {
    margin-bottom: 3.8rem;
  }
  .top-image {
    margin-left: auto;
    width: 55%;
    position: relative;
    z-index: 2;
  }
  .bottom-image {
    margin-top: -14vw;
    width: 60%;
  }
}

/* --------------------------------------------------------------------------
  INSTAGRAM
-----------------------------------------------------------------------------*/
.instagram-section {
  h2 {
    @include tablet-up {
      max-width: 46.5rem;
    }
  }
  .desc {
    @include tablet-up {
      padding-left: 3.75rem;
    }
  }
  .instagram-handle-row {
    margin-top: 4.7rem;
    padding-top: 1.55rem;
    padding-bottom: 1.55rem;
    border-top: $border;
    border-bottom: $border;
    text-align: center;
    display: block;
    @include mobile-only {
      margin-top: 4rem;
    }
  }

  .sh-insta-feed #insta-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
    @include mobile-only {
      grid-template-columns: repeat(2, 1fr);
    }
    > a {
      padding: 3.6rem !important;
      border-right: $border !important;
      border-bottom: $border !important;
      &:first-of-type {
        padding-left: 0 !important;
      }
      &:last-of-type {
        border-right: 0 !important;
        padding-right: 0 !important;
      }
      @include mobile-only {
        &:nth-of-type(odd) {
          padding-left: 0 !important;
        }
        &:nth-of-type(even) {
          border-right: 0 !important;
          padding-right: 0 !important;
        }
      }
    }
    .instafeed-container {
      width: 100% !important;
      display: block;
      padding-top: 100% !important;
    }
  }
}

/* --------------------------------------------------------------------------
  REVIEWS SECTION
-----------------------------------------------------------------------------*/
.reviews-section {
  overflow: hidden;
  padding-bottom: 4rem;
  @include mobile-only {
    padding-bottom: 2rem;
  }
  .inner {
    max-width: 127rem;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    padding-top: 1.55rem;
    border-top: $border;
    border-bottom: $border;
    padding-bottom: 1.55rem;
    text-align: center;
    margin-bottom: 4rem;
  }

}

/* REVIEW BLOCKS ================== */
.reviews-section {
  .review-item {
    border: $border;
    padding: 3.6rem;
    @include mobile-only {
      padding: 2.4rem;
    }
  }
  h2 {
    margin-bottom: 0.8rem;
  }
  .customer-name {
    margin: 2.8rem 0 2rem;
  }
  .star-rating-wrapper {
    svg {
      display: inline-block;
      margin-right: 0.3rem;
      width: 1.7rem;
    }
  }
}

/* SWIPER STYLES ================== */
.reviews-section {
  .swiper-container-reviews {
    overflow: visible;
    padding: 0 5rem 0.2rem !important;

    @include mobile-only {
      padding: 0 4rem !important;
    }
  }
  .swiper-slide {
    height: auto;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
  }
  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-slide-next,
  .swiper-slide-next + .swiper-slide {
    @include tablet-up {
      opacity: 1;
    }
  }

  .swiper-prev {
    @include mobile-only {
      left: -1rem;
    }
  }
  .swiper-next {
    @include mobile-only {
      right: -1rem;
    }
  }

}
