/* --------------------------------------------------------------------------
  PRODUCT DETAIL PAGE
-----------------------------------------------------------------------------*/
/* Don't hide overflow - so left column can stick ================== */
.template-product {
  overflow: visible;
}

/* LINE DOWN MIDDLE OF PAGE ================== */
.template-collection .thumbs-wrapper,
.template-product #MainContent {
  @include tablet-up {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      // transform: translateX(-50%);
      width: 0.1rem;
      height: 100%;
      border-left: 1px solid $borderColor;
      z-index: 2;
    }
  }
}

/* --------------------------------------------------------------------------
  PRODUCT INFO / FORM STYLES (RIGHT COLUMN)
-----------------------------------------------------------------------------*/
.page-product-detail .product-info-col {
  @include tablet-up {
    border-left: $border;
  }
}

/* --------------------------------------------------------------------------
  PRODUCT TITLE AND DESCRIPTION
-----------------------------------------------------------------------------*/
.page-product-detail .product-intro-info {
  padding-bottom: 3.6rem;
  border-bottom: $border;
  @include tablet-up {
    padding-top: 5.65rem;
  }
  @include mobile-only {
    padding-top: 3rem;
  }
  h1 {
    border-top: $border;
    border-bottom: $border;
    padding-top: 0.9rem;
    padding-bottom: 0.65rem;
  }
  .desc {
    padding-top: 2.85rem;
    @include tablet-up {
      max-width: 95%;
    }
  }
}

/* --------------------------------------------------------------------------
  SUBSCRIBE AND SAVE
-----------------------------------------------------------------------------*/
.subscribe-and-save {
  @extend %smallCaps;
  background: $darkGreyBackground;
  // overflow: hidden;

  /* Style like other form rows */
  #rc_radio_options > .rc_block {
    @extend .container-left-lg;
    @extend .container-mobile;
    padding-top: 0;
    padding-bottom: 0;
    border-top: $border;
    border-radius: 0;
    @include tablet-up {
      display: flex;
    }
  }

  div.rc_block__type--active label.rc_label {
    color: $primaryTextColor;
  }

  .sh-row-wrapper {
    @include tablet-up {
      display: flex !important;
      width: 100% !important;
      align-items: center;
      height: 5.6rem;
    }
    @include mobile-only {
      padding-top: 2.1rem !important;
      padding-bottom: 2.1rem !important;
      display: flex !important;
      margin-right: 0 !important;
      &.rc_label__autodeliver {
        padding-bottom: 0.8rem !important;
      }
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 23%;
        width: 1px;
        height: 100%;
        background: $primaryTextColor;
      }
    }

    // Left column (with two inner columns)
    .sh-left-col {
      width: 68%;
      @include mobile-only {
        width: 70%;
        display: block;
      }
      @include tablet-up {
        display: flex;

        align-items: center;
        height: 5.6rem;
      }
    }

    // INNER LEFT COLUMN (type of purchase - one time or subscribe)
    .sh-left-col .sh-inner-col-1 {
      @include mobile-only {
        display: block;
      }
      @include tablet-up {
        display: inline-block;
        width: 55%;
        overflow: hidden;
        padding: 1rem 2rem 1rem 0;
      }
    }

    // INNER RIGHT COLUMN (QUANTITY AND DELIVERY INTERVAL)
    .sh-left-col .sh-inner-col-2 {
      @include mobile-only {
        display: block;
      }
      @include tablet-up {
        display: inline-block;
        height: 5.6rem;
        border-left: $border;
        border-right: $border;
        width: 45%;
        padding: 2rem 2rem 2rem 3rem;
      }
    }

    .sh-left-col .rc_block__type__options {
      @include tablet-up {
        padding: 0;
      }
    }

    // Right column (with two inner columns)
    .sh-right-col {
      width: 9rem;
      display: inline-block;
      padding: 0 0 0 3rem;
      @include mobile-only {
        width: 30%;
        display: block;
      }
    }

  }

  /* Reset Styles */
  div#rc_container {
    margin-bottom: 0;
  }
  label.rc_label__deliver_every {
    padding: 0;
    margin-right: 0 !important;
  }
  div.rc_block__type--active {
    background: transparent;
  }
  .rc_label__delivery {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  /* Delivery Options */
  #rc_autodeliver_options {
    // @include mobile-only {
    //   padding-left: 4rem;
    // }
  }

  /* Hide info tooltip */
  .rc_popup {
    display: none;
  }
  img {
    width: auto;
    max-width: 100%;
  }
}

/* RADIO INPUT STYLES ================== */
.subscribe-and-save {

  input[type="radio"] + label.rc_label {
    @extend %inactive-radio;
  }
  div.rc_block__type--active input[type="radio"] + label.rc_label {
    @extend %active-radio;
  }
}

/* --------------------------------------------------------------------------
  PRODUCT FORM
-----------------------------------------------------------------------------*/
.page-product-detail form {

  .form-cell {
    @extend %smallCaps;
    @extend .container-mobile;
    background: $darkGreyBackground;
    // overflow: hidden;
    margin: 0 !important;
    display: flex;
    align-items: center;
  }
  label {
    @extend %smallCaps;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    margin-right: 2.2rem;
  }
  input {
    margin: 0;
    width: auto;
    padding: 0;
  }
  .btn {
    width: 100%;
  }
}

/* QUANTITY ================== */
.page-product-detail .quantity-wrapper {
  // border-top: $border;

  @include mobile-only {
    display: none !important;
  }
  @include tablet-up {
    display: flex !important;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  input[type="number"] {
    @extend %smallCaps;
    border: $border;
    width: 3rem;
    text-align: center;
    padding: 0.4rem 0;
    transition: all 0.3s ease-in-out;
    &:disabled {
      opacity: 0.7;
    }
  }
  label {
    margin-right: 1.4rem !important;
  }
}

// .rc_block:not(.rc_block__type--active) .quantity-wrapper {
//   input {
//     color: #868484;
//     border: 1px solid #868484;
//   }
// }

/* RADIO STYLES ================== */
.page-product-detail form {
  input[type="radio"] {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  .selector-wrapper {
    input + label {
      @extend %inactive-radio;
    }
    input[type="radio"]:checked + label {
      @extend %active-radio;

    }
  }
}

/* SPACER ROW ================== */
.page-product-detail form {
  .spacer-row {
    pointer-events: none;
    border-top: $border;
    background: $darkGreyBackground;
    width: 100%;
    height: 5.6rem;
    @include mobile-only {
      height: 5rem;
    }
  }
}

.page-product-detail .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  .price-wrapper {
    display: inline-block;
    margin-right: 6rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    @include mobile-only {
      margin-right: 3rem;
    }
  }
}

.temp-hidden {
  opacity: 0;
  display: none;

}

/* --------------------------------------------------------------------------
  PRODUCT INFORMATION ACCORDIONS
-----------------------------------------------------------------------------*/
.page-product-detail .product-accordions {
  padding-top: 5.55rem;
  padding-bottom: 4.55rem;

  .ingredients {
    @extend %smallCaps;
  }
  .accordion-toggle {
    @extend %smallCaps;
  }
  .accordion-toggle .icon-plus-minus {
    top: 46%;
    width: 1.6rem;
    height: 1.6rem;
  }
  .inner {
    padding-top: 3.2rem;
    padding-bottom: 2rem;
    @include mobile-only {
      padding-top: 2.4rem;
      padding-bottom: 2rem;

    }
  }
}

/* --------------------------------------------------------------------------
  PRODUCT SWIPER
-----------------------------------------------------------------------------*/
.product-images-col {
  @include tablet-up {
    overflow-y: scroll;
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px;
  }
  @include mobile-only {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0;
  }
}

/* CROPPED IMAGES ================== */
.product-images-col {
  .cropped-image-wrapper {
    padding-bottom: 96%;
  }
  [data-swiper-slide-index="0"] {
    .cropped-image-wrapper {
      @include mobile-only {
        padding-bottom: 130%;
      }
    }
  }
}

/* SWIPER STYLES ================== */
.swiper-container-product {
  padding: 3rem 5rem 4rem !important;

  @include mobile-only {
    padding: 0 4rem 5rem !important;
  }
  .swiper-pagination {
    bottom: 0;
  }
  .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: $border;
    opacity: 1;
    margin: 0 0.7rem;
  }
  .swiper-pagination-bullet-active {
    background: $primaryTextColor;
  }
  .swiper-slide {
    display: flex;
    height: auto;
    align-items: center;
  }
}

/* SWIPER ARROWS ================== */
.swiper-has-arrows {
  .swiper-next,
  .swiper-prev {
    position: absolute;
    width: 3.3rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
  }
  .swiper-prev {
    left: 0;
  }
  .swiper-next {
    right: 0;
  }
}

/* --------------------------------------------------------------------------
  SOCIAL SHARING
-----------------------------------------------------------------------------*/
.social-sharing svg {
  display: block;
  width: 2rem;
}
