@charset "UTF-8";

/*================ COMMON ================*/
@import url('global/reset.scss');
@import url('global/slate-reset.scss');

/*================ SETTINGS ================*/
@import url('partials/fonts.scss');
@import url('settings/variables.scss.liquid');

/*================ PARTIALS ================*/
@import url('partials/typography.scss');
@import url('partials/layout.scss');
@import url('partials/grid.scss');
@import url('partials/images.scss');
@import url('partials/nav.scss');
@import url('partials/search.scss');
@import url('partials/footer.scss');
@import url('partials/forms.scss');
@import url('partials/buttons.scss');
@import url('partials/selectric.scss');
@import url('partials/cart.scss');
@import url('partials/email-popup.scss');
@import url('partials/components.scss');
@import url('partials/animation.scss');
@import url('partials/product-thumb.scss');

/*================ SECTIONS ================*/
@import url('sections/faq.scss');
@import url('sections/product.scss');
@import url('sections/home.scss');
@import url('sections/about.scss');
@import url('sections/facts.scss');
@import url('sections/collection.scss');
@import url('sections/contact.scss');

/* --------------------------------------------------------------------------
Section Comment
-----------------------------------------------------------------------------*/
.icon-fallback-text,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* --------------------------------------------------------------------------
  GENERAL PAGES
-----------------------------------------------------------------------------*/
.page-general {
  @include tablet-up {
    padding-top: 8rem;
    padding-bottom: 10rem;
  }
  .inner {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    margin-bottom: 4rem;
    margin-top: 3rem;
    text-align: center;
  }
  h2 {
    @extend .h2;
    margin-top: 5rem;
    margin-bottom: 0.8rem;

  }
  p + p {
    margin-top: 2rem;
  }
  a {
    text-decoration: underline;
  }
  em {
    font-style: italic;

  }
}
