<div class="page-collection">
  <div class="container">
    <header role="banner">
      <!-- <h1>{{ collection.title }}</h1>
      {% if collection.description != blank %}
        <div class="rte">
          {{ collection.description }}
        </div>
      {% endif %} -->

      <!-- {% if collection.all_tags.size > 0 %}
        <ul>
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
              <li class="active">
                {{ tag | link_to_remove_tag: tag }}
              </li>
            {% else %}
              <li>
                {{ tag | link_to_tag: tag }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %} -->
    </header>

    <div class="cols-2 no-gutters thumbs-wrapper">

      {% for product in collection.products limit: 6 %}
        {%- include 'product-thumb' -%}

      {% endfor %}
    </div>
  </div>

</div>
