<section id="email-popup">
  <header>
    <h1>{{ section.settings.popup_heading }}</h1>
    <a href="#" class="close-email-popup">
      <img src="{{ 'icon-close.svg' | asset_url }}" alt="Close Email Popup" width="12" aria-label="Close Email Popup" >
    </a>
  </header>

  <form action="">
    <input placeholder="Email" type="email">
    <button class="text-button" type="submit">Sign Up</button>
  </form>
</section>

{% schema %}

{
  "name": "Email Popup",
  "settings": [
  {
    "id": "popup_heading",
    "type": "text",
    "label": "Email Popup Heading"
  },
  {
    "id": "image_picker",
    "type": "image_picker",
    "label": "Email Popup Image",
    "info": "Make sure image is at least 1000px wide"
  }
  ]
}

{% endschema %}
