
{%- assign collection = collections[section.settings.collection] -%}
{%- if collection.products != blank -%}

  <div class="container padded">
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
    {% endif %}

    <div class="cols-2 no-gutters thumbs-wrapper">

      {% for product in collection.products limit: 6 %}
        {%- include 'product-thumb' -%}

      {% endfor %}
    </div>
  </div>

{%- endif -%}

{% schema %}
  {
    "name": "Featured collection",
    "settings": [

      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
