<footer class="site-footer">
  <div class="container">

    <div class="mobile-columns">
      <div class="cols-footer">
        <div class="logo-icon">
          <img src="{{ 'logo_icon.svg' | asset_url }}"
            alt="{{ shop.name }}"
            itemprop="logo">
        </div>

        <!-- Footer Menu -->
        <nav>
          {%- include 'menu-footer' -%}
        </nav>


        <div class="right-col">
          <!-- Tablet & up Social Icons -->
          <div class="hide-mobile">
            {%- include 'social-icons' -%}
          </div>

          <!-- Copyright -->
          <div class="end-credits">
            {% if section.settings.copyright != blank %}
              <span class="copyright">{{ section.settings.copyright }}</span>
            {% endif %}
            {% if section.settings.site_credit != blank %}
              <span class="site-credit">
                {{ section.settings.site_credit }}
              </span>
            {% endif %}
          </div>

        </div>
      </div>

      <!-- Mobile Social Icons -->
      <div class="show-mobile">
        {%- include 'social-icons' -%}
      </div>
    </div>

    <!-- Payment Icons -->
    {% if section.settings.show_payment_icons %}
      {% unless shop.enabled_payment_types == empty %}
        {%- include 'payment-icons' -%}
      {% endunless %}
    {% endif %}
  </div>


</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "richtext",
        "id": "copyright",
        "label": "Copyright"
      },
      {
        "type": "richtext",
        "id": "site_credit",
        "label": "Site Credit"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
