<footer class="site-footer">
  <div class="container">
    <!-- Social Icons -->
    {%- include 'social-icons' -%}

    <!-- Payment Icons -->
    {% if section.settings.show_payment_icons %}
      {% unless shop.enabled_payment_types == empty %}
        {%- include 'payment-icons' -%}
      {% endunless %}
    {% endif %}

    <!-- Footer Menu -->
    {%- include 'menu-footer' -%}

    <!-- Copyright -->
    <div class="copyright">
      <p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</p>
    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
