<!-- -====================================
PROMO BAR
=========================================--->
{% if section.settings.show_promo_bar %}
  <div class="promo-bar" style="background-color: {{section.settings.promo_bar_bg_color}}; color: {{section.settings.promo_bar_text_color}};">
    <h6>{{section.settings.promo_bar_text}}</h6>
  </div>
{% endif %}

{% schema %}
{
  "name": "Promo Bar",
  "settings": [
    {
      "id": "promo_bar_text",
      "type": "text",
      "label": "Promo Bar Text"
    },
    {
      "id": "show_promo_bar",
      "type": "checkbox",
      "label": "Show Promo Bar"
    },
    {
      "id": "promo_bar_bg_color",
      "type": "color",
      "label": "Promo Bar Bg Color"
    },
    {
      "id": "promo_bar_text_color",
      "type": "color",
      "label": "Promo Bar Text Color"
    }
  ]
}
{% endschema %}
