<!-- ============================
HEADER
================================= -->
<div class="padded canine-facts-faq" data-anim="scroll">
  <div class="container">
    <header>
      <div >
        <h1 class="main-heading" data-anim="slide" data-anim-order="1">{{ section.settings.title }}</h1>
      </div>
    </header>

  </div>
  {%- include 'block-faq-items', page_name: 'facts' -%}
</div>

{% schema %}
{
  "name": "Canine FAQ Section",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "left_col_heading",
      "type": "text",
      "label": "Left Column Heading"
    },
    {
      "id": "right_col_heading",
      "type": "text",
      "label": "Right Column Heading"
    }

  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "desc",
          "type": "richtext",
          "label": "Description"
        }

      ]
    }
  ]
}
{% endschema %}
