<!-- ============================
HEADER
================================= -->
<div class="js-facts-faq-section padded feline-facts-faq expanded-section" data-anim="scroll">
  <div class="container">
    <header>
      <div >
        <h1 class="js-expand-facts-section main-heading" data-anim="slide" data-anim-order="1" taborder="0" aria-label="expand accordion">{{ section.settings.title }}<span class="icon-plus-minus"></span></h1>
      </div>
    </header>

  </div>
  {%- include 'block-faq-items', page_name: 'facts' -%}
</div>

{% schema %}
{
  "name": "Feline FAQ Section",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "left_col_heading",
      "type": "text",
      "label": "Left Column Heading"
    },
    {
      "id": "right_col_heading",
      "type": "text",
      "label": "Right Column Heading"
    }

  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "desc",
          "type": "richtext",
          "label": "Description"
        }

      ]
    }
  ]
}
{% endschema %}
